.pronosticos {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.pronostico {
    background-color: #1E213A;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
    overflow: auto;
}

.pronostico .temp{
    display: flex;
    justify-content: center;
}